{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Offer Page{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Awesome!</h4>
    <p>Every Day New Videos/Movies, Images and E-Books are available to download with a DISCOUNTED price for All Suscbribed Users.</p>
</div>
<div class="row">
    <div class="text-center" style="margin: 0px auto;margin-bottom: 10%">
        <div class="card text-center">
            <div class="card-header">
                Limited Offer
            </div>
            <div class="card-body">
                <h5 class="card-title">Captain Marvel HD (720p)</h5>
                <div class="card" style="width: 30rem">
                    <img class="card-img-top" src="{% static '/assets/images/catainmarvel.jpg' %}" alt="Card image cap">
                </div>
                <p>
                    <br>
                    <a href="{% url 'gateway:identify' %}" class="btn btn-primary">Download Captain Marvel Now</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}