{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Offer Page{% endblock %}

{% block content %}
<div class="row">
    <div class="text-center" style="margin: 0px auto;margin-bottom: 10%">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Captain Marvel HD (720p)</h5>
                <div class="card" style="width: 30rem">
                    <img class="card-img-top" src="{% static '/assets/images/preview.jpg' %}" alt="Card image cap">
                </div>
                <p>
                    <br>
                    <a href="{% url 'gateway:confirm' %}?uid={{request.GET.uid}}" class="btn btn-primary">Pay and Automatically Subscribed Now!</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}