<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static '/assets/gateway/css/bootstrap.css' %}" rel="stylesheet" />
</head>
<body>
{% include 'layout/include/header.html' %}

<div class="container">
    {% block content %}
        {{ block.super }}
        Welcome To Django 2.1
    {% endblock %}
</div>

<script type="text/javascript" src="{% static '/assets/gateway/js/jquery.slim.js' %}"></script>
<script type="text/javascript" src="{% static '/assets/gateway/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static '/assets/gateway/js/bootstrap.js' %}"></script>
</body>
</html>