{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 2%">

    <div class="container">
        <a class="navbar-brand" href="/">RLDWEBSHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Videos/Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">E-Books</a>
                </li>
            </ul>
        </div>
    </div>
</nav>